<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteka - Strona Główna</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <header>
        <h1>Witamy w naszej Bibliotece!</h1>
        <p>Znajdziesz u nas szeroki wybór książek oraz publikacji.</p>
    </header>

    <section>
        <h2>O bibliotece</h2>
        <p>Nasza biblioteka oferuje bogaty zbiór literatury z różnych kategorii: beletrystyka, naukowe, edukacyjne, i wiele innych.</p>
        <p>Każdy znajdzie coś dla siebie – zarówno dorośli, jak i dzieci. Zapraszamy do zapoznania się z ofertą oraz korzystania z naszej kolekcji.</p>
    </section>

    <section>
        <h2>Dostępne funkcje</h2>
        <ul>
            <li><a href="/SpringBooks/book_list">Lista książek</a></li>
            <li><a href="/SpringBooks/publisher_list">Lista wydawców</a></li>
            <li><a href="/SpringBooks/category_list">Lista kategorii</a></li>
                    </ul>
    </section>

    <footer>
        <p>&copy; 2024 Biblioteka. Wszelkie prawa zastrzeżone.</p>
    </footer>

</body>
</html>
